@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");

@font-face {
    font-family:'Noto Sans Korean';
    font-style:normal;
    font-weight:100;
    src:local('Noto Sans Thin'), local('NotoSans-Thin'),
    url(../fonts/eot/NotoSansKR-Thin-Hestia.eot),
    url(../fonts/eot/NotoSansKR-Thin-Hestia.eot?#iefix) format('embedded-opentype'),
    url(../fonts/woff/NotoSansKR-Thin-Hestia.woff) format('woff'),
    url(../fonts/otf/NotoSansKR-Thin-Hestia.otf) format('opentype');
}

@font-face {
    font-family:'Noto Sans Korean';
    font-style:normal;
    font-weight:300;
    src:local('Noto Sans Light'), local('NotoSans-Light'),
    url(../fonts/eot/NotoSansKR-Light-Hestia.eot),
    url(../fonts/eot/NotoSansKR-Light-Hestia.eot?#iefix) format('embedded-opentype'),
    url(../fonts/woff/NotoSansKR-Light-Hestia.woff) format('woff'),
    url(../fonts/otf/NotoSansKR-Light-Hestia.otf) format('opentype');
}

@font-face {
    font-family:'Noto Sans Korean';
    font-style:normal;
    font-weight:400;
    src:local('Noto Sans DemiLight'), local('NotoSans-DemiLight'),
    url(../fonts/eot/NotoSansKR-DemiLight-Hestia.eot),
    url(../fonts/eot/NotoSansKR-DemiLight-Hestia.eot?#iefix) format('embedded-opentype'),
    url(../fonts/woff/NotoSansKR-DemiLight-Hestia.woff) format('woff'),
    url(../fonts/otf/NotoSansKR-DemiLight-Hestia.otf) format('opentype');
}

@font-face {
    font-family:'Noto Sans Korean';
    font-style:normal;
    font-weight:500;
    src:local('Noto Sans Regular'), local('NotoSans-Regular'),
    url(../fonts/eot/NotoSansKR-Regular-Hestia.eot),
    url(../fonts/eot/NotoSansKR-Regular-Hestia.eot?#iefix) format('embedded-opentype'),
    url(../fonts/woff/NotoSansKR-Regular-Hestia.woff) format('woff'),
    url(../fonts/otf/NotoSansKR-Regular-Hestia.otf) format('opentype');
}

@font-face {
    font-family:'Noto Sans Korean';
    font-style:normal;
    font-weight:600;
    src:local('Noto Sans Medium'), local('NotoSans-Medium'),
    url(../fonts/eot/NotoSansKR-Medium-Hestia.eot),
    url(../fonts/eot/NotoSansKR-Medium-Hestia.eot?#iefix) format('embedded-opentype'),
    url(../fonts/woff/NotoSansKR-Medium-Hestia.woff) format('woff'),
    url(../fonts/otf/NotoSansKR-Medium-Hestia.otf) format('opentype');
}

@font-face {
    font-family:'Noto Sans Korean';
    font-style:normal;
    font-weight:700;
    src:local('Noto Sans Bold'), local('NotoSans-Bold'),
    url(../fonts/eot/NotoSansKR-Bold-Hestia.eot),
    url(../fonts/eot/NotoSansKR-Bold-Hestia.eot?#iefix) format('embedded-opentype'),
    url(../fonts/woff/NotoSansKR-Bold-Hestia.woff) format('woff'),
    url(../fonts/otf/NotoSansKR-Bold-Hestia.otf) format('opentype');
}

@font-face {
    font-family:'Noto Sans Korean';
    font-style:normal;
    font-weight:800;
    src:local('Noto Sans Black'), local('NotoSans-Black'),
    url(../fonts/eot/NotoSansKR-Black-Hestia.eot),
    url(../fonts/eot/NotoSansKR-Black-Hestia.eot?#iefix) format('embedded-opentype'),
    url(../fonts/woff/NotoSansKR-Black-Hestia.woff) format('woff'),
    url(../fonts/otf/NotoSansKR-Black-Hestia.otf) format('opentype');
}


/* base */
body,html{height:100%;}
body {font:16px "Open Sans", "sans-serif"; -webkit-text-size-adjust:none;}
html:lang(ko) body{font:16px "Noto Sans Korean", "sans-serif"; -webkit-text-size-adjust:none;}
body, div, dl, dt, dd, th, td, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, p, blockquote, button, input, textarea{margin:0; padding:0;}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, main {display:block; margin:0; padding:0;}
hr, table caption, legend, .hd-element{font-size:0; position:absolute; top:-999999px;visibility:hidden;}
table {border-spacing:0;border-collapse:collapse;border:0;}
img, fieldset, button, input{border:0; vertical-align:middle;}
ul, ol, li {list-style:none;}
em, address {font-style:normal;}
label, button {cursor:pointer;}
a {text-decoration:none;}
a:hover {text-decoration:none;}
button {vertical-align:top; background:transparent;}
button::-moz-focus-inner {padding:0; border:0;}
h1, h2, h3, h4, h5, h6 {font-size:1em;font-weight:normal;}
input[type=text] {-webkit-appearance: none;-webkit-border-radius:0;}